@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

body {
  margin: 0;
  font-family: "Inter";
}

.con-header {
  display: flex;
  justify-content: space-between;
  background-color: #f5f5f5;
  width: 100%;
}
.icon-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  gap: 10px;
}
.icon-img h5 {
  font-size: 14px;
  font-weight: 500;
}
.icon-img img {
  width: 23px;
}
.con-det {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-right: 50px;
}
.con-mail {
  display: flex;
  align-items: center;
  gap: 5px;
}
.con-mail img {
  width: 22px;
}

.con-phone {
  display: flex;
  align-items: center;
  gap: 5px;
}
.con-phone p {
  font-size: 14px;
}
.con-phone img {
  width: 15px;
}
.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.nav-logo img {
  margin-left: 50px;
  width: 230px;
  padding: 10px;
}
.nav-menu {
  margin-right: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-menu ul {
  display: flex;
  gap: 35px;
  list-style-type: none;
  font-size: 14px;
  font-weight: 500;
}
.nav-menu ul a {
  text-decoration: none;
  color: black;
}

.dropdown {
  border: none;
  outline: none;
}

select option {
  font-size: 14px;
  font-weight: 500;
}
.banner {
  background: url(../../../../assets/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 93%;
  height: 90vh;
  margin-right: 50px;
  margin-left: 50px;
  box-sizing: border-box;
}
.banner-left {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  height: 90vh;
  margin-left: 120px;
}
.banner-left h4{
  font-size: 60px;
  line-height: 71px;
  margin-bottom: -20px;
;
}
.banner-left p{
  font-size: 22px;
  line-height: 34px;
}
.div-btn{
    display: flex;
    margin-bottom: 10px;
    gap: 20px;
    align-items: center;
}
.btn{
    background-color: #17C1A3;
    color: white;
    border: none;
    width: 237px;
    height: 40px;
    border-radius: 3px;
    
}

.form{
    width: 1150px;
    height: 200px;
    background-color: #f5f5f5;
    border-radius: 6px;
    position: absolute;
    bottom: 1;
    margin-top: -60px;
    margin-left: 50px;
    
}
